.Button {
    font-size: 0.9rem;
    align-self: center;
    border-color: transparent;
    min-width: 90px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px;
    padding: 0.1rem 0.75rem;
}
  
.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}
  
.Button:hover:active {
    background-color: #0a7503 !important;
}
  
.Button:active {
    background-color: #0a7503 !important;
}
  
.Button:focus {
    background-color: #0a7503;
}
  
.Wide {
    padding: 7px 27px;
    width: 40%;
    margin: 20px;
}
  
.Bright:hover {
    background-color: #c5ecef;
    color: #000000;
}
  
.Bright {
    background-color: #0a7503;
    color: #ffffff;
    padding: 4px 15px;
}

.Cancel {
    background-color: #757c75;
    color: #ffffff;
    padding: 4px 15px;
}

.Cancel:hover {
    background-color: #afb6af;
    color: #000000;
}

.Orange:hover {
    background-color: #baab72;
    color: #000000;
}
  
.Orange {
    background-color: #ba9811;
    color: #ffffff;
    padding: 4px 15px;
}

.Button a {
    background-color: transparent;
    color: #ffffff;
    transition: none;
}

.Button a i {
    color: #ffffff;
    font-size: 1rem;
}

.Button:hover a {
    background-color: transparent;
    color: #000000;
    transition: none;
}

.Button:hover a i {
    color: #000000;
}
