.Form {
    margin-top: 0;
}

.FormImage {
    padding-left: 1.5rem;
}
  
.PostButton {
    border: none;
    color:#0a7503; 
    background-color: none;
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
    padding: 0;
    cursor: none;
}

.Button i {
    margin-right: 0.2rem;
    padding-bottom: 0;
}

.Button i:hover {
    color: #4dae46;
}

.SaveCancel {
    border-radius: 0.25rem;
    padding: 0;
}

