.DropdownMenu {
    min-width: 8rem;
}

.DropdownItem p {
    margin-bottom: 0;
}

.DropdownItem:hover {
    background-color: #ffffff;
    color: #adb8b8;
}

.Absolute {
    position: absolute;
    z-index: 99;
  }
