.NavBar {
    background-color: #ffffff;
    font-size: 2vh;
    height: 70px;
}

.NavLogo {
    margin-right: 20px;
    font-weight: bold;
}

.NavLogo span {
    margin: 0 5px 0 10px;
    font-size: 2.5vh;
}

.NavLogo:hover {
    background-color: #ffffff;
}

.NavImg {
    margin-bottom: 3px;
}

.NavImg:hover {
    background-color: #c5ecef;
}

.NavLink {
    padding: 8px;
    align-self: center;
    color: black;
}

.Active {
    background-color: #d9f1fb;
}

.ActiveIcon {
    background-color: #d9f1fb;
    padding: 0.9px 8px;
    margin: 7.1px 0;
}

.Collapse {
    background-color: #ffffff;
    padding: 0.4rem 0.5rem;
}
  
a:hover {
    color: #adb8b8;
}