.NavBar {
    background-color: #ffffff;
    font-size: 2.2vh;
}

.NavLogo {
    margin-right: 20px;
}

.NavLogo span {
    margin: 0 5px 0 10px;
    font-size: 2.8vh;
}

.NavLogo:hover {
    background-color: #ffffff;
}

img {
    margin-bottom: 3px;
}

img:hover {
    background-color: #c5ecef;
}

.NavLink {
    padding: 8px;
    align-self: center;
    color: black;
}

.Active {
    background-color: #d9f1fb;
}

.ActiveIcon {
    background-color: #d9f1fb;
    padding: 0.9px 8px;
    margin: 7.1px 0;
}
  
a:hover {
    color: #3cc232;
}