.Card {
    padding: 20px;
    border: 0;
    background-color: #ccaf3a;
}

.IntroTitle {
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.IntroSubtitle {
    font-size: large;
}