.App {
    font-family: Quicksand, verdana, sans-serif;
    background-color: #d9f1fb;
    min-height: 100vh;
  }

* {
    box-sizing: border-box;
}

.Main {
    margin-top: 70px;
    padding: 0;
    max-width: 1200px;
    margin-bottom: 70px;
}

.Card {
  border-radius: 0;
  background-color: #ffffff;
}

.HeaderImage {
    object-fit: cover;
    height: 35vh;
    width: 100%;
    margin-bottom: 0;
}

.Content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

a {
    transition: color ease-in-out 0.2s;
}

a:hover {
    background-color: #c5ecef;
    text-decoration: none;
}

a:hover i {
    color: #4dae46;
    transition: color ease-in-out 0.2s;
}

.NavIcon:hover {
    background-color: #ffffff;
}

i {
    color: #0a7503;
    font-size: 1.4rem;
    padding: 5px;
    margin-bottom: 2px;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #c5ecef;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

input[type="file"] {
    display: none;
}

.BlueBorder {
    border-color: #84dbe1;
}

.Intro {
    padding: 20px;
    border: 0;
    background-color: #ccaf3a;
}

.IntroCard {
    background-color: #ccaf3a;
    border: 0;
}

.IntroTitle {
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.IntroSubtitle {
    font-size: large;
}

    /* scrollbar */
    *::-webkit-scrollbar {
        width: 5px;
    }
    *::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    *::-webkit-scrollbar-thumb {
        background: #888;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
